/* Basic Style */
body {
background: url(bg.jpg) no-repeat center center fixed;
  background-size: cover;
  color: #ecf0f1;;
  font-family: Lato, sans-serif;
}

.container {
display: block;
width: 500px;
margin: 50px auto 0;
}

h1 {
  text-align: center;
}


ul {
margin: 0;
padding: 0;
}

li * {
float: left;
}

li,
h3 {
clear: both;
list-style: none;
}

input,
button {
outline: none;
}

button {
  background-color: #4CAF50;
  background-image: linear-gradient(to right, #B2A4D4, #E6C7C2);
  border-radius: 50px;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-family: Lato, sans-serif;
  margin: 4px 2px;
  cursor: pointer;
  transition-duration: 0.4s;
}

button:hover {
  background-color: #ffa500;
}

/* Heading */
h3,
label[for='new-task'] {
color: #c8ede8;
font-weight: 700;
font-size: 15px;
padding: 30px 0 10px;
margin: 0;
text-transform: uppercase;
}

input[type="text"] {
margin: 0;
font-size: 18px;
line-height: 18px;
height: 18px;
padding: 10px;
border: 1px solid #ddd;
background: #fff;
border-radius: 6px;
font-family: Lato, sans-serif;
color: #888;
}

input[type="text"]:focus {
color: #c8ede8;
}

.middle {
text-align: center;
}


/* New Task */
label[for='new-task'] {
display: block;
margin: 0 0 20px;
}

input#new-task {
float: right;
width: 318px;
}

p>button:hover {
color: #c8edec;
}

/* Task list */
li {
overflow: hidden;
padding: 20px 0;
border-bottom: 1px solid #eee;
}

li>input[type="checkbox"] {
margin: 0 10px;
position: relative;
top: 15px;
}

li>label {
font-size: 18px;
line-height: 40px;
width: 237px;
padding: 0 0 0 11px;
}

li>input[type="text"] {
width: 226px;
}

li>.delete:hover {
color: #CF2323;
}

/* Completed */
#completed-tasks label {
text-decoration: none;
color: #888;
}

/* Edit Task */
ul li input[type=text] {
display: none;
}

ul li.editMode input[type=text] {
display: block;
}

ul li.editMode label {
display: none;
}
