body {
margin-top: 20px;
background: #333333;
}


.todo-item {
padding: 15px;
margin: 5px 0;
border-radius: 0;
background-color: #ffffff;
color: #333333;
}


div.checker {
width: 18px;
height: 18px;
background-color: #ffffff;
}


div.checker input {
width: 18px;
height: 18px;
border: 1px solid #333333;
background-color: #ffffff;
}


.done {
text-decoration: line-through;
color: #666666;
}
